<li class="comment" id="comment_<%= comment.id%>">
    <div class="avatar">
        <%= image_tag "whale.jpg",class: "w-10 h-10 rounded-full" %>
    </div>
    <div class="comment-content">
        <%= comment.content %>
    </div>
    <div class="comment-info">
        <small>
            <p><%= comment.user_username%></p>
            <p><%= localize(comment.created_at, format: :long) %></p> •
        </small>
        <% if comment.replies.any? %>
            <%= render comment.replies %>
        <% end %>
    </div>
</li>