<%= form_with(model: [commentable, comment], local: false,data: { turbo_stream: true }) do |form| %>
  <%= form.hidden_field :blog_id, value: commentable.is_a?(Blog) ? commentable.id : nil %>
  <%= form.hidden_field :comment_id, value: commentable.is_a?(Comment) ? commentable.id : nil %>
  <%= form.hidden_field :parent_id %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <%end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :content, placeholder: "Add a comment", class: "w-full px-3 py-2 text-sm text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500 resize-none" %>
  </div>

  <div class="actions">
    <%= form.submit "Post", class: "text-blue-500 font-semibold text-sm hover:text-blue-600 transition duration-300 ease-in-out cursor-pointer" %>
  </div>
<% end %>