<div class="comments-widget" id="comments-widget-of-commentable-<%= commentable.id %>">
  <h2 class="comments-header">
    Comments
    <small id="comments-count-of-commentable-<%= commentable.id %>"><%= commentable.comments.count %></small>
  </h2>
  <div class="comments-list">
    <div class="comment-form">
      <%= render "comments/form", comment: commentable.comments.build %>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <div x-data="{ open1: false, open2: false }">
      <div class="flex justify-center items-center">
        <div class="bg-white w-full h-auto shadow px-3 py-2 flex flex-col space-y-2">
          <%= render commentable.comments.children.created_at_desc %>
        </div>
      </div>
    </div>
  </div>
</div>