
<div class="flex shadow-md">
  <div class="flex-1 text-gray-700 text-center px-4 py-2 m-2">
    <%@product_quanties_carts.each do |product, count| %>
    <li class="flex py-6">
      <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
        <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="h-full w-full object-cover object-center">
      </div>

      <div class="ml-4 flex flex-1 flex-col">
        <div>
          <div class="flex justify-between text-base font-medium text-gray-900">
            <h3>
              <%= link_to product.name, product %>
            </h3>
            <p class="ml-4">$<%= product.price %></p>
          </div>
          <p class="mt-1 text-sm text-gray-500">Blue</p>
        </div>
        <div class="flex flex-1 items-end justify-between text-sm">
          <p class="text-gray-500">Qty <%= count %></p>
          <div class="flex">
            <%= link_to "Remove", remove_to_cart_path(product_id: product.id), data: {turbo_method: :delete}, class: "font-medium text-indigo-600 hover:text-indigo-500"%>
          </div>
        </div>
      </div>
    </li>
  <% end %>
    <div class="flex justify-between text-base font-medium text-gray-900" id="sub_total">
    <p>Subtotal</p>
    <p>$ <%=  @total %></p>
  </div>
  </div>
  <div class="flex-1 text-gray-700 text-center px-4 py-2 m-2 shadow-md rounded pt-6 pb-8 mb-4">
  <%= form_for @order, url: checkouts_path do |f|%>
  <div>
    <%= f.label :address, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.text_area :address, 
        value: @address,
        class: "w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400", 
        placeholder: "Write a address...", 
        required: true, 
        rows: 4 %>
  </div>
  <div>
    <div>
      <%= f.label :shipping, Shipping.first.name %>
      <%= f.radio_button :shipping_id, @shipping_id || Shipping.first.id, checked: @shipping_id.to_i ==  Shipping.first.id %>
    </div>

    <div>
      <%= f.label :shipping, Shipping.last.name %>
      <%= f.radio_button :shipping_id, @shipping_id || Shipping.last.id, checked: @shipping_id.to_i ==  Shipping.last.id %>
    </div>
  </div>
  <div>
    <%= f.label :payment %>
    <%= f.select :payment_id, Payment.pluck(:name, :id), selected: @payment_id %>
  </div>
  <%= f.button "submit", type: :submit, class: "bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" %>
<% end %></div>
</div>
